{% assign default_features = 'customer,current-stage,next-stage,resources' | split:',' %}
{% assign features = include.features | default:default_features %}
<article class="card" id="project-{{ project.slug }}">
  <h2>
    <a href="{{ project.url | relative_url }}" rel="permalink">{{ project.name }}</a>
  </h2>

  <dl class="def-as-list">
    <dt class="hidden-from-ui">{% t Summary %}</dt>
    <dd class="main">{{ project.short_description }}</dd>

    {% if project.customer and features contains 'customer' %}
    <dt>{% t With Whom? %}</dt>
    <dd>
      {% assign customer = site.customers | where: "uid", project.customer | first %}
      <a href="{{ customer.website }}" target="_blank">{{ customer.title }}</a>
    </dd>
    {% endif %}

    {% if features contains 'current-stage' %}
    <dt>{% t Current Stage %}</dt>
    <dd>{{ project.current_stage }}</dd>
    {% endif %}

    {% if project.next_stage and features contains 'next-stage' %}
    <dt>{% t Next Stage %}</dt>
    <dd>{{ project.next_stage }}</dd>
    {% endif %}

    {% assign collection = site.collections | where:'label',project.collection | first %}
    {% if project.resources.size and features contains 'resources' %}
    <dt>{% t Additional Resources %}</dt>
      {% for resource in project.resources %}
      <dd class="same-def"><a href="{{ resource.url }}" target="_blank">{{ resource.name }}</a></dd>
      {% endfor %}
    {% endif %}
  </dl>
</article>
