{% assign default_features = 'customer,current-stage,next-stage,resources' | split:',' %}
{% assign features = include.features | default:default_features %}
<article class="item" id="project-{{ project.slug }}">
  <header>
    <h2>
      <a href="{{ project.url | relative_url }}" rel="permalink">{{ project.name }}</a>
    </h2>

    <p>{{ project.short_description }}</p>

    {% if project.labels %}
    <ul class="list list--inline">
    {% for label in project.labels %}
      <li>{{ label }}</li>
    {% endfor %}
    </ul>
    {% endif %}
  </header>

  <aside>
    {% if project.image %}
    <a href="{{ project.url | relative_url }}" rel="permalink">
      <img src="{{ project.image | relative_url }}" alt="{{ project.name }} • {% t Project illustration %}">
    </a>
    {% endif %}
  </aside>

  <dl class="def-as-list">
    {% if project.customer and features contains 'customer' %}
    <dt>{% t With Whom? %}</dt>
    <dd>
      <ul class="list list--inline list--words">
        {% assign customer = site.customers | where: "uid", project.customer | first %}
        <li><a href="{{ customer.website }}" target="_blank">{{ customer.title }}</a></li>
        {%- for person in project.with -%}
        <li><a{% if person.url %} href="{{person.url}}" target="_blank" rel="noopener"{% endif %}>{{person.name | split: ' ' | first}}</a></li>
        {%- endfor -%}
      </ul>
    </dd>
    {% endif %}

    {% if project.current_stage and features contains 'current-stage' %}
    <dt>{% t Current Stage %}</dt>
    <dd>{{ project.current_stage }}</dd>
    {% endif %}

    {% if project.next_stage and features contains 'next-stage' %}
    <dt>{% t Next Stage %}</dt>
    <dd>{{ project.next_stage }}</dd>
    {% endif %}

    {% assign collection = site.collections | where:'label',project.collection | first %}
    {% if project.resources.size and features contains 'resources' %}
    <dt>{% t Additional Resources %}</dt>
      {% for resource in project.resources %}
      <dd class="same-def"><a href="{{ resource.url }}" target="_blank">{{ resource.name }}</a></dd>
      {% endfor %}
    {% endif %}
  </dl>
</article>
