{% assign lang = page.lang | default: 'fr' %}
<form method="POST" class="form form--inline" action="https://dtc-innovation.us14.list-manage.com/subscribe/post?u=b0f6f0d51771df93463c7b23f&amp;id=fbe749b473" target="_blank">
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b0f6f0d51771df93463c7b23f_fbe749b473" tabindex="-1" value=""></div>
  <input name="FAV_LANG" type="hidden" value="{{ site.languages[lang] }}">

  <div class="input-group">
    <label for="newsletter-email">{% t Your email address %}</label>

    <input type="email" name="EMAIL" class="input" id="newsletter-email" required>
  </div>

  <div class="input-group">
    <button name="subscribe" type="submit" class="btn">{% t Subscribe %} ›</button>
  </div>
</form>
