<section class="page-footer section--narrow">
  <h1>On reste en contact ?</h1>

  <p>
    Nous vous invitons à venir nous parler sur
    <a href="https://slack.dtc-innovation.org/" target="_blank">Slack</a>
    et par
    <a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#100;&#116;&#099;&#045;&#105;&#110;&#110;&#111;&#118;&#097;&#116;&#105;&#111;&#110;&#046;&#111;&#114;&#103;?subject=Hello">e-mail</a>.
    Nous ferons de notre mieux pour vous répondre dans un délai raisonnable.
  </p>

  <p>
    Vous pouvez aussi recevoir nos actualités par e-mail.
    Nous les envoyons rarement et plutôt dans un
    format léger et personnel&nbsp;:
  </p>

  {% include newsletter.html %}
</section>
