<section class="page-footer section--narrow">
  <h1>On reste en contact ?</h1>

  <p>
    You can reach us on our
    <a href="https://slack.dtc-innovation.org/" target="_blank">Slack channel</a>
    or by
    <a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#100;&#116;&#099;&#045;&#105;&#110;&#110;&#111;&#118;&#097;&#116;&#105;&#111;&#110;&#046;&#111;&#114;&#103;?subject=Hello">email</a>.
    We will do our best to respond to you within the <em>next
    business hours</em>&nbsp;—&nbsp;although we might be <em>on the field</em>
    with a limited connectivity.
  </p>

  <p>
    Subscribe to our <strong>company and project updates</strong>. We send them <em>every other month</em>
    in a <strong>personal and lightweight</strong> format:
  </p>

  {% include newsletter.html %}
</section>
