---
layout: base
---
{% assign project_lang = 'projects_' | append: page.lang %}
{% assign projects = site[project_lang] | where_exp: "d", "d.highlights_order > 0" | sort: "highlights_order" | slice: 0,3 %}

  <article class="hero">
    {{ content }}
  </article>

  <section>
    <div class="cards">
    {% assign features = 'customer,image,next_stage' | split:',' %}
    {% for project in projects %}
    {% include projects/card-in-list.html project=project features=features %}
    {% endfor %}
    </div>

    {% if site[project_lang].size > 3 %}
    <footer class="tc mv4">
      <a href="{{ site.baseurl }}/projects/" class="btn btn--large">{% t Discover all our projects %}</a>
    </footer>
    {% endif %}
  </section>

  <div class="flex">
    <section class="flex w-third-l mr3 flex-column">
      <header>
        <h1>{% t Meet the Team %}</h1>
      </header>

      <ul class="items list items--vertical">
      {% assign team = site.data.team | sort: 'sort_order', 'first' %}
      {% for person in team %}
      <li class="item">{% include team/item-in-list.html person=person id=person.id %}</li>
      {% endfor %}
      </ul>
    </section>

    <section class="flex w-two-thirds-l flex-column">
      <header>
        <h1>{% t Where To Meet with Us %}</h1>
      </header>

      <ul class="items list items--vertical">
      {% assign events = site.events | sort: 'date' %}

      {% for event in events %}
      <li class="item">{% include events/item-in-list.html event=event %}</li>
      {% endfor %}
      </ul>
    </section>
  </div>
