---
layout: base
---
{% assign project_lang = 'projects_' | append: page.lang %}
{% assign projects = site[project_lang] | where_exp: "d", "d.highlights_order > 0" | sort: "highlights_order" | slice: 0,3 %}

  <article class="hero">
    {{ content }}
  </article>

  <section>
    <div class="cards">
    {% assign features = 'customer,current-stage,resources' | split:',' %}
    {% for project in projects %}
    {% include projects/card-in-list.html project=project features=features %}
    {% endfor %}
    </div>

    {% if site[project_lang].size > 3 %}
    <footer class="tc mv4">
      <a href="{{ site.baseurl }}/projects/" class="btn btn--large">{% t Discover all our projects %}</a>
    </footer>
    {% endif %}
  </section>

  <section>
    <header>
      <h1>{% t About us %}</h1>
    </header>

    <div class="cards">
    {% assign team = site.data.team | sort: 'sort_order', 'first' %}
    {% for person in team %}
    {% include team/card-in-list.html person=person id=person.id %}
    {% endfor %}
    </div>
  </section>
