---
layout: base
---
{% assign customer = site.customers | where: "uid", page.customer | first %}
{% assign project_writings = site.posts | where: 'projects', page.slug %}

<section class="full-page">
  <article>
    <h2>{{ page.title }}</h2>

    <p>
      {% if customer %}
        🙌 {% t A project conducted with %}
        <a href="{{ customer.website }}">{{ customer.title }}</a>.<br>
      {% endif %}

      {% if page.resources.size %}
        👀 <strong id="resources">{% t Additional Resources %}</strong>
        {% for resource in page.resources %}
        • <a href="{{ resource.url }}" target="_blank">{{ resource.name }}</a>
        {% endfor %}
        <br>
      {% endif %}

      🗣 <strong>{% t Our value proposition %}</strong> •
      {{ page.short_description }}
    </p>

    {% if page.image %}
    <img src="{{ page.image | relative_url }}" alt="">
    {% endif %}
  </article>

  {% unless project_writings == empty %}
  <nav class="container" id="project-writings">
    <h2>{% t Related Project Writings %}</h2>

    {% include writings/timeline.html writings=project_writings %}
  </nav>
  {% endunless %}

  <article>
    <h2>{% t About %} {{ page.name }}</h2>

    {{ page.content }}
  </article>
</section>
