<article class="card">
  <figure>
    <img src="{{ site.baseurl}}/images/team/{{ include.id }}.jpg" alt="Profile picture of {{ person.name }}" class="responsive-img">
  </figure>

  <h2>{{ person.name }}</h2>
  {% assign details = person[ page.lang ] %}

  <dl class="def-as-list">
    <dt class="hidden-from-ui">{% t Fluent In %}</dt>
    <dd class="main">{{ details.short_description }}</dd>

    <dt>{% t What Makes Them Happy %}</dt>
    <dd>{{ details.what_makes_them_happy }}</dd>

    <dt>{% t Notable Fact %}</dt>
    <dd>{{ details.notable_fact }}</dd>

    <dt>{% t Current Location %}</dt>
    <dd>{{ details.current_location }}</dd>
  </dl>
</article>
