<article class="flex justify-between">
  {% assign details = person[ page.lang ] %}
  <span class="w-30">
    <img class="profile-pic" src="{{ site.baseurl}}/images/team/{{ include.id }}-medium.jpg" alt="Profile picture of {{ person.name }}" class="responsive-img">
  </span>

  <dl class="def-as-list w-two-thirds">
    <dt class="hidden-from-ui">{% t Fluent In %}</dt>
    <dd class="main"><h3>{{ person.name }}</h3></dd>
    <dt class="hidden-from-ui">{% t Fluent In %}</dt>
    <dd>{{ details.short_description }}</dd>

    <dt>{% t Current Location %}</dt>
    <dd>{{ details.current_location }}</dd>
    <dd aria-hidden class="collapse--limit" data-collapsed="true"></dd>

    <dt>{% t Notable Fact %}</dt>
    <dd>{{ details.notable_fact }}</dd>

    <dt>{% t What Makes Them Happy %}</dt>
    <dd>{{ details.what_makes_them_happy }}</dd>
  </dl>
</article>
